.nav-container {
  width: 1140px;
  margin: 0 auto;
  padding: 32px 16px;
  box-sizing: border-box;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 15px 15px 82px 15px;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
header {
  margin-bottom: 46px;
}
.nav-logo {
  float: left;
  padding: 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-size: 30px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 300;
}
.nav-logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.site-navigation {
  float: right;
  margin: 0 auto;
  padding: 0;
}
.navigation-item {
  width: 90px;
  text-align: center;
  display: inline-block;
  margin-right: 2px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.nav-link {
  display: block;
  padding: 4px;
  color: #0f0101;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 900;
}
.nav-link:hover,
.nav-link:focus {
  color: #1abc9c;
}
.headline {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 0 0 116px;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.03em;
  color: #515151;
  position: relative;
}
.headline::after {
  content: "";
  background: #1abc9c;
  height: 6px;
  width: 164px;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%, -50%);
}
.item-card {
  box-sizing: border-box;
  float: left;
  width: 255px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.item-card:last-child {
  margin-right: 0;
}
.products-row {
  margin-bottom: 30px;
}
.products-row:last-child {
  margin-bottom: 0;
}
img {
  display: block;
}
.item-card:hover .item-name {
  background: #1abc9c;
}
.item-card:hover .item-price {
  background: #7fd9c7;
}
.item-name {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #323232;
  float: left;
  width: 202px;
  padding: 10px;
}
.item-price {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  float: right;
  color: #ffffff;
  background: #8c8c8c;
  width: 53px;
  padding: 10px;
}

.news-card {
  box-sizing: border-box;
  float: left;
  width: 350px;
  font-family: "Roboto", sans-serif;
  margin-right: 30px;
}
.news-card:last-child {
  margin-right: 0;
}
.news-card img {
  margin-bottom: 10px;
  width: 350px;
  height: 261px;
}
.news-head {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
  letter-spacing: 0.004em;
  margin: 0 0 34px 0;
}
.news-head::after {
  content: "";
  background: #1abc9c;
  height: 3px;
  width: 136px;
  position: absolute;
  left: 0;
  bottom: -14px;
}
.news-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #555252;
  margin: 0 0 12px 0;
}
button[type="button"] {
  display: block;
  color: #ffffff;
  background: #1abc9c;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 160px;
  padding: 16px 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.section {
  margin-bottom: 96px;
}
.section:last-child {
  margin-bottom: 0;
}
